@model URent.Models.SUPTransaction

@{
    ViewBag.Title = "Create";
}
<div class="container">
    <h2>Rent this item</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.OwnerID)
        @Html.HiddenFor(x => x.RenterID)

        <div type="hidden" id="itemId" data-id="@Model.ItemID"></div>
        <div actions="/SUPTranctions/Create" class="form-horizontal" method="POST">
            <h4>Choose how long you want to rent out this item for</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div id="price" data-price="@ViewBag.dailyprice"></div>
            <div>
                <label>Start Date</label>
                <p>
                    <input class="form-group form-control col-md-2" type="text" id="StartDate" name="StartDate" placeholder="MM/DD/YYYY" readonly />
                </p>

                <label>End Date</label>
                <p>
                    <input class="form-group form-control col-md-2" type="text" id="EndDate" name="EndDate" placeholder="MM/DD/YYYY" disabled readonly />
                </p>

                <div id="TextBox3" typeof="hidden" val=""></div>

                <label>Total price</label>
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                    <input class="form-inline form-control col-md-2" id="TotalPrice" name="TotalPrice" type="text" value="" readonly="readonly" />
                </div>

                <br />

                <input type="submit" value="Rent this item" class="btn btn-primary" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Styles.Render("~/Content/cssjqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/calendar.min.js")
    @Scripts.Render("~/Scripts/transactionPriceCalculator.min.js")
}
