@model URent.Models.SUPRequest

@{
    ViewBag.Title = "Create";
}


<div class="container">
    <h2>Request this Item</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Choose which days you would like to rent out this item.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                <label>Date from</label>
                <p>
                    <input class="form-group form-control col-md-2" type="text" id="StartRequest" name="StartDate" placeholder="MM/DD/YYYY" />
                </p>

                <label>Date to</label>
                <p>
                    <input class="form-group form-control col-md-2" type="text" id="EndRequest" name="EndDate" placeholder="MM/DD/YYYY" />
                </p>
                <div id="TextBox3" typeof="hidden" val=""></div>

                <input type="submit" value="Submit request" class="btn btn-primary" />
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqueryui")
    @Scripts.Render("~/Scripts/Calendar.js")
}
