@model URent.Models.SUPRequest

@{
    ViewBag.Title = "Create";
}

@if (Request.IsAuthenticated)
{
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<h2>Request this Item</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SUPRequest</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <p>
                Date From :
                <input class="form-group" type="text" id="StartRequest" name="StartDate" />
            </p>
            <p>
                Date To :
                <input class="form-group" type="text" id="EndRequest" name="EndDate" />
            </p>
            <div id="TextBox3" typeof="hidden" val=""></div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqueryui")
    @Scripts.Render("~/Scripts/Calendar.js")
}
