@model URent.Models.SUPUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<h1>@Html.ActionLink(Model.FirstName + " " + Model.LastName, "UserProfile", "SUPUsers", new { id = Model.Id }, null)</h1>

<div>
    <hr />

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <h4>
            @String.Format("{0:MM/dd/yyyy}", Model.DateOfBirth)
        </h4>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <h4>
            @Html.DisplayFor(model => model.StreetAddress)
        </h4>

        <dt>
            @Html.DisplayNameFor(model => model.CityAddress)
        </dt>

        <h4>
            @Html.DisplayFor(model => model.CityAddress)
        </h4>

        <dt>
            @Html.DisplayNameFor(model => model.StateAddress)
        </dt>

        <h4>
            @Html.DisplayFor(model => model.StateAddress)
        </h4>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <h4>
            @Html.DisplayFor(model => model.ZipCode)
        </h4>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit account info", "Edit", new { id = Model.Id}, new { @class = "btn btn-primary"})
</p>
