@model URent.Models.SUPUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<h2>Overview</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    @*@Html.ActionLink("Back to List", "Index")*@
</p>
