@model URent.Models.SUPUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
    @Styles.Render("~/Scripts/dropzone/dropzone.css")
    @Scripts.Render("~/Scripts/dropzone/dropzone.js")
}

<h2>Edit account info</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @Value = Model.DateOfBirth.ToString("MM/dd/yyyy"), @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="container form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.StreetAddress, "Street address", new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.CityAddress, "City", new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.CityAddress, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="container form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.StateAddress, "State", new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.StateAddress, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.ZipCode, "Zip code", new { @class = "control-label" })
            <div>
                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
            </div>
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Photos", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <!--Drop Zone Stuff-->
            <div action="~/SUPUsers/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
                <div class="fallback">
                    @*<input name="file" type="file" multiple />
                        <input type="submit" value="Upload" />*@
                </div>
            </div>
        </div>
    </div>

    <!-- Place for Image stuff -->
    <input hidden="hidden" id="PhotoElement" name="photoElementID" />

    @Html.HiddenFor(m => m.NetUserId)
    @Html.HiddenFor(m => m.Lat)
    @Html.HiddenFor(m => m.Lng)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<script>
    //File Upload response from the server
    Dropzone.options.dropzoneForm = {
        init: function () {
            this.on("complete", function (data) {
                //var res = eval('(' + data.xhr.responseText + ')');
                var res = JSON.parse(data.xhr.responseText);
                console.info(res);
                $("#PhotoElement").val(res.value);
            });
        }
    };
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
