@model URent.Models.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

        </dl>

    </div>

    <div class="form-group">
        @*@Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Details, new
       {
           @class = "form-control",
           @rows = 5,
           @placeholder = "Review this user..."
       })
            @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
        </div>

        @Html.HiddenFor(model => model.UserBeingReviewedID)
        @Html.HiddenFor(model => model.UserDoingReviewID)


    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit Review" class="btn btn-primary" />
            @*@Html.ActionLink("Submit Review", "addUserReview",new { reviewer = Model.UserDoingReviewId, reviewed = Model.UserBeingReviewedId , details = Model.Details}, new { @class = "btn btn-primary" })*@
        </div>
    </div>
}
<h5>This User's Reviews...</h5>
<table class="table">

    @foreach (var item in Model.sUPUserReviews)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            @*<td>
                @ViewBag.ReviewerName
                @Html.DisplayFor(modelItem => item.UserDoingReviewID)
            </td>*@
        </tr>
    }

</table>