@model IEnumerable<DiscussionProject.Models.SUPDiscussion>

@{
    ViewBag.Title = "Home";
}

<h2>Discussion Index</h2>
<p>
    @Html.ActionLink("Create a new discussion topic", "Create", "SUPDiscussions", null, new { @class = "btn btn-secondary float-right" })
</p>

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            User
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIMESTAMP)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details", "SUPDiscussions", new { id = item.ID }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUPUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIMESTAMP)
        </td>
    </tr>
 }

</table>