@model DiscussionProject.Models.SUPDiscussionDetails

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SUPDiscussion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sUPDiscussion.SUPUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sUPDiscussion.SUPUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sUPDiscussion.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sUPDiscussion.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sUPDiscussion.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sUPDiscussion.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sUPDiscussion.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sUPDiscussion.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sUPDiscussion.TIMESTAMP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sUPDiscussion.TIMESTAMP)
        </dd>

    </dl>
</div>

@*Html.RenderPartial("comments", Model.sUPComments); *@

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sUPDiscussion.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
