@model IEnumerable<URent.Models.SUPItem>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>URent</h1>
    <p class="lead">A peer to peer transaction website where you can rent items and/or rent out items to make some extra money.</p>
    <p>Get started: Description of how to use prelim site goes here...</p>

    @*
        <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    *@
</div>

<div class="row">
    <!-- Empty for now...list of all items goes here-->
    <h3>All possible rental listings:</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUPUser.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                Daily Rate
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPUser.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "SUPItems", new { id = item.Id }, null)
            </td>
        </tr>
        }
    </table>
</div>