@using URent.Models
@model List<URent.Models.SUPItem>

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="jumbotron">
        <img src="~/Content/Img/urentlogoalt.svg" width="150" height="64"></img>
        <p class="lead">A peer to peer transaction website where you can rent items and/or rent out items to make some extra money.</p>
        <h4>Getting started</h4>
        <ol>
            <li>Sign up for an account</li>
            <li>
                On the left hand side of your account page, click "Add item" to create a rental listing
                <ul>
                    <li>Fill out the required information, indicate whether or not the item will be available and set a price rate.</li>
                </ul>
            </li>
            <li>You're done!</li>
        </ol>
    </div>

    <!-- Displays all listings in two-column format -->
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="row">
            @do //displays each listing in a column of a given row.
            {
                <div class="col-md-6">
                    <div class="card mx-auto">
                        <a href="@Url.Action("Details", "SUPItems", new { id = Model[i].Id})">
                            <img class="card-img-top" src="https://via.placeholder.com/450x250?text=No+photo+to+display" alt="Listing photo">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(Model[i].ItemName, "Details", "SUPItems", new { id = Model[i].Id })</h5>
                            <p class="card-text">@Model[i].SUPUser.CityAddress, @Model[i].SUPUser.StateAddress</p>
                            <p class="card-subtitle"><b>@String.Format("{0:C}", Model[i].DailyPrice)/day</b></p>
                            @if (Model[i].IsAvailable)
                            {
                                <p class="card-text" style="color:green">Available</p>
                            }
                            else
                            {
                                <p class="card-text" style="color:red">Not available</p>
                            }
                            <br />
                            @Html.ActionLink("View listing", "Details", "SUPItems", new { id = Model[i].Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>

                i++; //Increment counter by 1

                if (i >= Model.Count) //Have we reached end of list?
                {
                    break;
                }
            }
            while (i % 2 != 0);
            @{i--;}

        </div>
    }
</div>