@using URent.Models
@model List<URent.Models.SUPItem>

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="jumbotron">
        <img src="~/Content/Img/urentlogoalt.svg" width="150" height="64">
        <p class="lead">A peer to peer transaction website where you can rent items and/or rent out items to make some extra money.</p>
        <h4>Getting started</h4>
        <ol>
            <li>Sign up for an account</li>
            <li>
                On the left hand side of your account page, click "Add item" to create a rental listing
                <ul>
                    <li>Fill out the required information, indicate whether or not the item will be available and set a price rate.</li>
                </ul>
            </li>
            <li>You're done!</li>
        </ol>
    </div>

    <form action="/Home/Index" method="get">
        <label for="distanceSelect">Show item listings within</label>
        <div class="input-group" id="geoCoordinate">
            <select name="radius" class="form-control col-sm-2" id="distanceSelect">
                <option>--Select a radius--</option>
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
            </select>
            <div class="input-group-append">
                <div class="input-group-text">mi</div>
                <button class="btn btn-outline-primary search-btn-outline" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <br />
    <br />

    <!-- Displays all listings in two-column format -->
    @for(var i = 0; i < Model.Count; i++)
    {
        @*<div class="row">
                <div class="col-md-6">
                    <div class="card mx-auto">
                        <!-- Adds hyperlink to image of a listing -->
                        <a href="@Url.Action("Details", "SUPItems", new { id = item.Id})">
                                <img class="card-img-top" src="/Resources/HomePhoto/@item.Id">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(item.ItemName, "Details", "SUPItems", new { id = item.Id }, null)</h5>
                            <p class="card-text">@item.SUPUser.CityAddress, @item.SUPUser.StateAddress</p>
                            <p class="card-subtitle"><b>@String.Format("{0:C}", item.DailyPrice)/day</b></p>
                            @if (item.IsAvailable)
                            {
                                <p class="card-text" style="color:green">Available</p>
                            }
                            else
                            {
                                <p class="card-text" style="color:red">Not available</p>
                            }
                            <br />
                            @Html.ActionLink("View listing", "Details", "SUPItems", new { id = item.Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="row">
            @do
            {
                <div class="col-md-6">
                    <div class="card mx-auto">
                        <!-- Adds hyperlink to image of a listing -->
                        <a href="@Url.Action("Details", "SUPItems", new { id = Model[i].Id})">
                            <img class="card-img-top" src="/Resources/HomePhoto/@Model[i].Id">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(Model[i].ItemName, "Details", "SUPItems", new { id = Model[i].Id }, null)</h5>
                            <p class="card-text">@Model[i].SUPUser.CityAddress, @Model[i].SUPUser.StateAddress</p>
                            <p class="card-subtitle"><b>@String.Format("{0:C}", Model[i].DailyPrice)/day</b></p>
                            @if (Model[i].IsAvailable)
                            {
                                <p class="card-text" style="color:green">Available</p>
                            }
                            else
                            {
                                <p class="card-text" style="color:red">Not available</p>
                            }
                            <br />
                            @Html.ActionLink("View listing", "Details", "SUPItems", new { id = Model[i].Id }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>

                i++;

                if (i >= Model.Count)
                {
                    break;
                }
            }
            while (i % 2 != 0);
            @{ i--;}
        </div>
    }
</div>