@model URent.Models.ItemDetailsViewModel

@{
    ViewBag.Title = Html.DisplayFor(model => model.sUPItem.ItemName);
}

@*@if (Request.IsAuthenticated) //Is a logged in user viewing this page?
    {
        //If so, show the user sidebar.
        Layout = "~/Views/Shared/_UserPageLayout.cshtml";
    }*@

<div class="container">
    <!-- Item name -->
    <h2>@Html.DisplayFor(model => model.sUPItem.ItemName)</h2>
    <br />
    @Html.Label("Rating Average:")
    @Html.DisplayFor(model => model.RatingAverage)

    @Html.Label("Total # of Ratings:")
    @Html.DisplayFor(model => model.RatingCount)

    <!-- Item photo -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                @if (ViewBag.Send != null) //Does a photo for this item exist?
                {
                    //If so, display the photo.
                    <img class="d-block w-100" src="/Resources/Photo/@ViewBag.Send" alt="Item photo">
                }
                else
                {
                    //If not, display a placeholder image instead.
                    <img class="d-block w-100" src="https://via.placeholder.com/450x250?text=No+photo+to+display" alt="Placeholder image" />
                }
            </div>
        </div>
    </div>

    <hr />

    <!-- Item details -->
    <div class="row">
        <div class="col-sm-3">
            <dt>Owner name</dt>
            <dd>
                @Html.ActionLink(Model.sUPItem.SUPUser.FirstName + " " + Model.sUPItem.SUPUser.LastName, "UserProfile", "SUPUsers", new { id = Model.sUPItem.SUPUser.Id }, null)
            </dd>
        </div>
        <div class="col-sm-3">
            <dt>Item location</dt>
            <dd>
                @Html.DisplayFor(model => model.sUPItem.SUPUser.CityAddress),
                @Html.DisplayFor(model => model.sUPItem.SUPUser.StateAddress)
            </dd>
        </div>
        <div class="col-sm-3">
            <dt>@Html.DisplayNameFor(model => model.sUPItem.DailyPrice)</dt>
            <dd>
                @String.Format("{0:C}", Model.sUPItem.DailyPrice)/day
            </dd>
        </div>
        <div class="col-sm-3">
            <dt>@Html.DisplayNameFor(model => model.sUPItem.IsAvailable)</dt>
            @if (Model.sUPItem.IsAvailable == true)
            {
                <dd style="color:green">Available</dd>
            }
            else
            {
                <dd style="color:red">Not available</dd>
            }
        </div>
    </div>

    <!-- Item description -->
    <div class="row">
        <div class="col-sm-12">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.sUPItem.Description)</dt>
                <dd>@Html.DisplayFor(model => model.sUPItem.Description)</dd>
            </dl>
        </div>
    </div>

    <br />

    @if (Model.sUPItem.IsAvailable == true) //Is the item available?
    {
        //If so, then we show a "Rent" button.
        @Html.ActionLink("Rent", "Create", "SUPTransactions", new { itemId = Model.sUPItem.Id, dailyPrice = Model.sUPItem.DailyPrice }, new { @class = "btn btn-primary" })
    }
    else
    {
        //If not, we show a "Request" button.
        @Html.ActionLink("Set Available", "makeAvailable", "SUPItems", new { itemId = Model.sUPItem.Id }, new { @class = "btn btn-primary" })
    }

    @if (Request.IsAuthenticated) //Is a logged in user viewing this page?
    {
        //Show an "Edit listing" button.
        @Html.ActionLink("Edit listing", "Edit", new { id = Model.sUPItem.Id }, new { @class = "btn btn-outline-primary" })
    }
    <div type="hidden" id="itemId" data-id="@Model.sUPItem.Id"></div>
    <br>

    <label>Dates</label>
    <p>
        @*<div id="myDatePicker" class="DateBox datepicker" style="width:100%;height:200px;"></div>
            <input class="form-group form-control col-md-2" type="hidden" id="dateHidden" name="datePicker" placeholder="MM/DD/YYYY" />*@
        <input type="text" id="d" />
        <div id="z"></div>
    </p>

    @*<p>
          <input class="form-group form-control col-md-2" type="text" id="StartDate" name="StartDate" placeholder="MM/DD/YYYY" readonly />
        </p>*@

    <br />
    <br />

    <h3>User reviews for this item</h3>
    <table class="table">
        <tr>
            @*<th>User ID</th>*@
            <th>Review</th>
            <th>Rating</th>
            <th>Posted on</th>
        </tr>

        @if (Model.sUPItemReviews != null)
        {
            foreach (var item in Model.sUPItemReviews)
            {
                <tr>
                    @*<td>@Html.DisplayFor(modelItem => item.UserDoingReviewID)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.Details)</td>
                    <td>
                        @*@for (int i = 0; i < Int32.Parse(item.SUPItem.); i++)
                        {
                            <img src="~/Content/Img/EmptyStar.png" alt="Star Rating" align="middle" />
                        }
                        @for (int i = Int32.Parse(); i < 5; i++)
                        {
                            <img src="~/Content/Img/FilledStar.png" alt="Star Rating" align="middle" />
                        }*@
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                </tr>
            }
        }

    </table>

    <br />
    <br />

    <div type="hidden" id="listingId" value="@Model.ItemBeingReviewedID" />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
    <fieldset class="rating">
        <legend>Please rate:</legend> 
        @*<input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>*@
        @Html.RadioButtonFor(model => model.Ratings, "5", new { id="star5", name="rating"})<label for="star5" title="Rocks!">5 stars</label>
        @Html.RadioButtonFor(model => model.Ratings, "4", new { id="star4", name="rating"})<label for="star4" title="Pretty good">4 stars</label>
        @Html.RadioButtonFor(model => model.Ratings, "3", new { id="star3", name="rating"})<label for="star3" title="Meh">3 stars</label>
        @Html.RadioButtonFor(model => model.Ratings, "2", new { id="star2", name="rating"})<label for="star2" title="Kinda bad">2 stars</label>
        @Html.RadioButtonFor(model => model.Ratings, "1", new { id="star1", name="rating"})<label for="star1" title="Sucks big time">1 star</label>
</fieldset>

        @*@Html.LabelFor(model => model.Details, htmlAttributes: new { @class = "control-label col-md-2" })*@

        @Html.TextAreaFor(model => model.Details, new { @class = "form-control", @rows = 5, @placeholder = "Review this item..." })
        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ItemBeingReviewedID)
        @Html.HiddenFor(model => model.UserDoingReviewID)

        <br />

        <input type="submit" value="Submit Review" class="btn btn-primary" />
        @*@Html.ActionLink("Submit Review", "addUserReview",new { reviewer = Model.UserDoingReviewId, reviewed = Model.UserBeingReviewedId , details = Model.Details}, new { @class = "btn btn-primary" })*@
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqueryui")
    @Scripts.Render("~/Scripts/Calendar.js")
    @Scripts.Render("~/Scripts/transactionPriceCalculator.js")
    @Scripts.Render("~/Scripts/rating.js")
}