@model URent.Models.SUPItem

@{
    ViewBag.Title = Html.DisplayFor(model => model.ItemName);
}

@if (Request.IsAuthenticated) //Is a logged in user viewing this page?
{
    //If so, show the user sidebar.
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div class="container">
    <!-- Item name -->
    <h2>@Html.DisplayFor(model => model.ItemName)</h2>
    <br />

    <!-- Item photo -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                @if (ViewBag.Send != null) //Does a photo for this item exist?
                {
                    //If so, display the photo.
                    <img class="d-block w-100" src="/Resources/Photo/@ViewBag.Send" alt="Item photo">
                }
                else
                {
                    //If not, display a placeholder image instead.
                    <img class="d-block w-100" src="https://via.placeholder.com/450x250?text=No+photo+to+display" alt="Placeholder image" />
                }
            </div>
        </div>
    </div>

    <hr />

    <!-- Item details -->
    <div class="row">     
        <div class="col-sm-3">
            <dt>Owner name</dt>
            <dd>
                @Html.DisplayFor(model => model.SUPUser.FirstName)
                @Html.DisplayFor(model => model.SUPUser.LastName)
            </dd>
        </div>
        <div class="col-sm-3">
            <dt>Item location</dt>
            <dd>
                @Html.DisplayFor(model => model.SUPUser.CityAddress),
                @Html.DisplayFor(model => model.SUPUser.StateAddress)
            </dd>
        </div>
        <div class="col-sm-3">
            <dt>@Html.DisplayNameFor(model => model.DailyPrice)</dt>
            <dd>
                @String.Format("{0:C}", Model.DailyPrice)/day
            </dd>
        </div>
        <div class="col-sm-3">
            <dt>@Html.DisplayNameFor(model => model.IsAvailable)</dt>
            @if (Model.IsAvailable == true)
            {
                <dd style="color:green">Available</dd>
            }
            else
            {
                <dd style="color:red">Not available</dd>
            }
        </div>
    </div>

    <!-- Item description -->
    <div class="row">
        <div class="col-sm-12">
            <dl>
                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(model => model.Description)</dd>
            </dl>
        </div>
    </div>

    <br />

    @if (Model.IsAvailable == true) //Is the item available?
    {
        //If so, then we show a "Rent" button.
        @Html.ActionLink("Rent", "Create", "SUPTransactions", new { itemId = Model.Id, dailyPrice = Model.DailyPrice }, new { @class = "btn btn-primary" })
    }
    else
    {
        //If not, we show a "Request" button.
        @Html.ActionLink("Request", "Create", "SUPRequests", new { itemId = Model.Id }, new { @class = "btn btn-primary" })
    }

    @if (Request.IsAuthenticated) //Is a logged in user viewing this page?
    {
        //Show an "Edit listing" button.
        @Html.ActionLink("Edit listing", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-primary" })
    }
</div>