@model IEnumerable<URent.Models.SUPItem>

@{
    ViewBag.Title = "GetUserItems";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<h2>My item listings</h2>
<br />

<table class="table">
    <tr>
        <th>
            Item name
        </th>
        <th>
            Owner name
        </th>
        <th>
            Item location
        </th>
        <th>
            Daily rate ($/day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ItemName, "Details", "SUPItems", new { id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPUser.FirstName)
                @Html.DisplayFor(modelItem => item.SUPUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUPUser.CityAddress),
                @Html.DisplayFor(modelItem => item.SUPUser.StateAddress)
            </td>
            <td>
                @String.Format("{0:C}", item.DailyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
        </tr>
    }
</table>