<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - URent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/modernizer-2.8.3.js")

</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <h3 class="my-auto"><a class="navbar-brand" href="/Home/Index">URent</a></h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>


        <ul class="navbar-nav mr-auto small mb-2 mb-md-0" data-toggle="collapse">
            <li class="nav-item active mr-auto">
                <a class="nav-link py-1" href="#">Link</a>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link py-1" href="#">Link</a>
            </li>
            <li class="nav-item mr-auto">
                <a class="nav-link py-1" href="#">Link</a>
            </li>
        </ul>

        <form class="form-inline mx-auto">
            <div class="input-group">
                <input type="text" class="form-control border-dark" placeholder="Search coming soon...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        @Html.Partial("_LoginPartial")
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MNM Solutions</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/jquery-3.3.1.js")
    @Scripts.Render("~/Scripts/bootstrap.bundle.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
