@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- User account sidebar for logged in users -->
<div class="container-fluid">
    <div class="row">
        <aside class="col-2 px-0" id="left">
            <div class="list-group w-100">
                @Html.ActionLink("Overview", "Details", "SUPUsers", null, new { @class = "list-group-item" })
                @Html.ActionLink("Your Items", "GetUserItems", "SUPItems", null, new { @class = "list-group-item" })
                @Html.ActionLink("Add Item", "Create", "SUPItems", null, new { @class = "list-group-item" })
                @Html.ActionLink("Your Notifications", "Notifications", "SUPUsers", null, new { @class = "list-group-item" })
                @Html.ActionLink("Your Transactions", "getRentersTransactions", "SUPTransactions", null, new { @class = "list-group-item" })
                @Html.ActionLink("Your Requests", "getRentersRequests", "SUPRequests", null, new { @class = "list-group-item" })
            </div>
        </aside>
        <div class="col-sm-10" id="user-page">
            @RenderBody()
            @RenderSection("Scripts", required: false)
        </div>
    </div>
</div>


